/* main */

.main{
    display: flex;
    padding: 45px 9%;
    justify-content: space-between;
}

.sub1 , .sub2{
    width: 45%;
}

.sub1{
    background-color:var(--thrid-color);
    border-radius: 25px;
    padding: 4%;
    line-height: 30px;
    height: 80%;
    margin-top: 10%;
}

h3{
    font-size: small;
    color: var(--second-color);
    font-weight: bold;
    margin: 9px 0px;
}

.p , dt{
    font-size: small;
    color: gray;
    font-weight: bold;
}

dt{
    color: black;
}
dd{
    color: gray;
}



.img{
    width: 100%;
}
.sub2 .img img{
    height: 350px;
    width: 100%;
    border-radius: 25px;
    opacity: 0.5;
}

.sub2 .img img:hover{
    opacity: 1;
}

form{
    margin-top: 40px;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    row-gap: 25px;
    color: gray;
}

input , textarea{
    width: 99%;
    border-radius: 25px;
    padding: 9px 15px;
    background-color: var(--thrid-color);
    border: 1px solid gray;
}
textarea{
    grid-column: span 2;
}
.sub2 a{
    background-color: var(--second-color);
    color: #fff;
    padding: 15px 25px;
    border-radius: 25px;
    margin: 40px 0px;

}

.sub2 a:hover{
    background-color: var(--first-color);

}

/* Medias for 990px */

@media screen and (max-width:990px){
    .main{
        flex-direction: column;
        row-gap: 50px;
    }

    .sub1 , .sub2{
        width: 100%;
    }

    input{
        grid-column: span 2;
    }
    form{
        grid-template-rows: 1fr 1fr 1fr;
    }
}
