/* main-content  */

.main-container{
    display: flex;
    margin: 190PX 9% 90px 9%; 
    border-bottom: .5px solid rgb(214, 214, 214); 
}

.main-child1 img{
    border-radius: 35px;
    width: 100%;
}
.main-child1{
    width: 44%;
}

.main-child2{
    padding: 40px 5%;
    line-height: 34px;
    width: 55%;
}

.main-child2 small{
    color: gray;
}

.main-child2 b{
    color:var(--second-color);
    font-size: 35px;
    margin: 20px;
}

.main-child2 span{
    border: 1px solid rgb(184, 182, 182);
    background-color: var(--third-color);
    color: gray;
    border-radius: 35px;
    font-size: 19px;
    padding: 10px 25px;
}

.main-child2 a img{
    width: 30px;
    height: 30px;
    padding: 4px;
    margin: 0px 5px;
    margin-bottom: -8px;
}

.main-child2 a{
    padding: 15px 25px;
    background-color: var(--second-color);
    border-radius: 35px;
    margin: 0px 25px;
    color: #fff;
    font-weight: bold;
}

.main-child2 a:hover{
    background-color: var(--first-color);
}

table {
    border-spacing: 12px;
    margin-top: 35px;
    color: gray;
}

.td{
    color: blue;
}

/* main-content  */
.main2{
    margin: 50px 9%;
    padding: 50px;
    border-radius: 20px;
    background-color: var(--thrid-color);
    line-height: 25px;
}

.main2 p{
    color: gray;
    margin: 25px 0px;
}

.h21{
    color: var(--second-color);
    border-right:.5px solid rgb(214, 214, 214) ;
    padding: 5px 15px;
    display: inline;
    cursor: pointer;
}

.h22{
    display: inline;
    padding: 5px 15px;
    cursor: pointer;
}




/* Categories-Section  */

#trending-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 9%;
    
 }
 .trending-text-one{
    width: 45%;
    line-height: 55px;
    font-size: 1.5em;
 }
 .trending-text-one p{
    color: var(--second-color);
 }
 #trending-text-two a{
    padding: 12px 25px;
    border-radius: 30px;
    background-color: var(--second-color);
    color: #fff;
}

 #trending-text-two a:hover{
    background-color: var(--first-color);
}


 #trending-cards-container{
    display: flex;
    width: 100%;
    padding: 15px 8%;
 }

 .trending-sub-container{
    display: flex;
    width: 50%;
    justify-content: space-around;

 }
 
 .trending-card{
    background-color: rgba(87, 88, 88, 0.103);
    width: 45%;
    border-radius: 25px;
    position: relative;
 }
 .abs{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--first-color);
    color: #fff;
    width: 65px;
    border-radius: 21px;
    padding: 5px;
    text-align: center;
}

.trending-card :nth-child(1) , .categories-card :nth-child(2){
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
    height: 68%;
 }

 .trending-card div{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
 }

 .trending-card div img{
    background-color: var(--second-color);
    border-radius: 50%;
    padding: 4px;
    width: 45px;
    height: 45px;
}



/* Categories-Section  */

.categories-text-one{
    text-align: center;
    width: 100%;
}

.categories-card{
    background-color: var(--first-color);
    height: fit-content;
    padding-bottom: 0px;
    text-align: center;
}
.categories-card :nth-child(1){
    height: 15%;
    padding: 15px;
    color: #fff;
    font-weight: bold;
}


/* Medias Section */
/* Medias for 990px */

@media screen and (max-width:990px){
    .main-container{
        flex-direction: column;
        row-gap: 45px;
    }

    .main-child1 , .main-child2{
        width: 100%;
    }
    #trending-text-two{
        display: none;
    }

    .trending-text-one{
        width: 100%;
    }

    #trending-cards-container{
        flex-direction: column;
        row-gap: 35px;
    }

    .trending-sub-container{
        width: 100%;
    }

    .top-container{
        text-align: center;

}
}

/* Medias for 770px */

@media screen and (max-width:770px){
    .trending-sub-container{
        flex-direction: column;
        row-gap: 35px;
    
    }
    
    .trending-card{
        width: 100%;
    }
}